---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import CtaButton from "../cta-button.astro";
---

<nav>
  <div class="container mx-auto px-4">
    <div class="flex h-24 items-center">
      <a class="inline-block" href="#">
        <Icon name="logo-asi" />
      </a>
      <button class="lg:hidden navbar-burger py-1 ml-auto">
        <svg
          width="44"
          height="16"
          viewBox="0 0 44 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><rect width="44" height="2" rx="1" fill="black"></rect><rect
            y="14"
            width="44"
            height="2"
            rx="1"
            fill="black"></rect></svg
        >
      </button>
      <div class="hidden lg:flex ml-auto mr-12 items-center">
        <a class="inline-block hover:underline mr-10" href="#">About</a><a
          class="inline-block hover:underline mr-10"
          href="#">Services</a
        ><a class="inline-block hover:underline mr-10" href="#">Projects</a><a
          class="inline-block hover:underline"
          href="#">Contact us</a
        >
      </div>
      <CtaButton
        href="#"
        title="Book a session"
        class="hidden lg:inline-flex"
      />
    </div>
  </div>
</nav>
