---
import { Image } from "astro:assets";
import CtaButton from "../cta-button.astro";
const points = [
  "State-of-the-art recording equipments.",
  "Flexible booking options.",
  "Experienced sound engineers.",
  "Comfortable and inspiring environment.",
];
---

<section class="py-12 md:py-24 bg-coolGray-100">
  <div class="container mx-auto px-4">
    <div class="max-w-md md:max-w-lg lg:max-w-none mx-auto">
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="w-full lg:w-1/2 xl:w-7/12 px-4 mb-20 lg:mb-0">
          <div class="max-w-2xl">
            <span class="block mb-4 text-sm font-medium"
              >The best in the area
            </span>
            <h2 class="max-w-xl text-7xl tracking-tighter mb-12">
              Book Your Session Today!
            </h2>
            <div class="flex flex-wrap -mx-4">
              <div
                class="w-full px-4 grid grid-cols-1 md:grid-cols-2 gap-[4px] content-start mb-4 xl:mb-0"
              >
                {
                  points.map((point, index) => (
                    <div class="flex items-center mb-4">
                      <svg
                        width="21"
                        height="22"
                        viewBox="0 0 21 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                          y="0.5"
                          width="21"
                          height="21"
                          rx="10.5"
                          fill="black"
                        />
                        <path
                          d="M15.7676 8.13463C15.4582 7.82482 14.9558 7.82501 14.646 8.13463L9.59787 13.183L7.35419 10.9393C7.04438 10.6295 6.54217 10.6295 6.23236 10.9393C5.92255 11.2491 5.92255 11.7513 6.23236 12.0611L9.03684 14.8656C9.19165 15.0204 9.39464 15.098 9.59765 15.098C9.80067 15.098 10.0039 15.0206 10.1587 14.8656L15.7676 9.25644C16.0775 8.94684 16.0775 8.44443 15.7676 8.13463Z"
                          fill="white"
                        />
                      </svg>
                      <span class="ml-4">{point}</span>
                    </div>
                  ))
                }
              </div>
            </div>
            <CtaButton href="#" class="mt-10" variant="primary" />
          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
          <Image
            src="/src/assets/images/cta-img.jpg"
            alt="cta signup"
            class="rounded-lg"
            width={800}
            height={600}
          />
        </div>
      </div>
    </div>
  </div>
</section>
