---
import { Image } from "astro:assets";
import CtaButton from "../cta-button.astro";
import ImageMod from "../image-mod.astro";

const hero = {
  title: "Where Creativity Meets Harmony",
  description:
    "We are a creative studio that creates beautiful and unique digital experiences for brands and businesses. We specialize in creating engaging and innovative digital products that stand out from the crowd.",
  ctaButton: {
    title: "Book a session",
    href: "#",
    variant: "primary",
  },
};
---

<section class="container">
  <div class="relative mx-auto mb-12 pt-12 pb-32 lg:pb-12 border-b">
    <h1
      class="font-heading text-5xl sm:text-9xl md:text-10xl xl:text-13xl tracking-tightest"
      set:html={hero.title}
    />
    <div class="absolute bottom-0 md:right-0 mb-10 max-w-sm ml-auto text-right">
      <CtaButton
        href="#"
        title="Book a session"
        class="py-5 px-10"
        variant="primary"
      />
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 align-items-end">
    <div class="w-full md:w-6/12 lg:w-7/12 px-3 relative">
      <ImageMod
        loading={"eager"}
        height={400}
        width={600}
        class="block w-full h-64 lg:h-96 hover:-translate-y-2 transition duration-500 rounded-t-xl object-cover"
        src="/images/hero1.jpg"
        alt=""
      />
    </div>
    <div class="hidden md:block md:w-6/12 lg:w-5/12 px-3">
      <div class="flex flex-wrap -mx-3">
        <div class="w-5/12 px-3">
          <ImageMod
            height={400}
            loading={"eager"}
            width={200}
            class="block w-full h-64 lg:h-96 hover:-translate-y-2 transition duration-500 rounded-t-xl object-cover"
            src="/images/hero2.jpg"
            alt=""
          />
        </div>
        <div class="w-7/12 px-3">
          <ImageMod
            height={400}
            width={300}
            loading={"eager"}
            class="block w-full h-64 lg:h-96 hover:-translate-y-2 transition duration-500 rounded-t-xl object-cover"
            src="/images/hero3.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
