---
import { Image } from "astro:assets";
---

<section class="py-12 md:py-20 bg-coolGray-50">
  <div class="container mx-auto px-4">
    <h1
      class="font-heading text-6xl sm:text-8xl md:text-10xl tracking-tighter mb-20"
    >
      Get started quickly
    </h1>
    <div
      class="mb-6 pb-10 pt-20 lg:pt-10 px-10 max-w-xl lg:max-w-none mx-auto bg-white rounded-4xl"
    >
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="w-full lg:w-7/12 px-4 mb-12 lg:mb-0">
          <div class="max-w-sm xl:max-w-lg mx-auto">
            <h3 class="text-5xl xl:text-7xl tracking-tight mb-6">
              Althhorpe Street Leamigton Spa
            </h3>
            <p class="max-w-md text-lg text-coolGray-600 mb-10">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a
              class="group inline-flex py-5 px-8 items-center justify-center leading-none font-medium text-black hover:text-white border border-black rounded-full hover:bg-black transition duration-200"
              href="#"
            >
              <span class="mr-2">Get consulation</span>
              <span
                class="group-hover:rotate-45 transform transition duration-100"
              >
                <svg
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 1L1 9"
                    stroke="currentColor"
                    stroke-width="1.3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M9 8.33571V1H1.66429"
                    stroke="currentColor"
                    stroke-width="1.3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </div>
        </div>
        <div class="w-full lg:w-5/12">
          <Image
            height={400}
            width={400}
            class="block w-full rounded-4xl"
            src="/asitrastudio-assets/features/photo-medium-dark.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div
      class="pb-10 pt-20 lg:pt-10 px-10 max-w-xl lg:max-w-none mx-auto bg-white rounded-4xl"
    >
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="w-full lg:w-5/12 order-last lg:order-first">
          <img
            class="block w-full rounded-4xl"
            src="/asitrastudio-assets/features/photo-medium-light.png"
            alt=""
          />
        </div>
        <div class="w-full lg:w-7/12 px-4 mb-12 lg:mb-0">
          <div class="max-w-sm xl:max-w-lg mx-auto">
            <h3 class="text-5xl xl:text-7xl tracking-tight mb-6">
              Althhorpe Street Leamigton Spa
            </h3>
            <p class="max-w-md text-lg text-coolGray-600 mb-10">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a
              class="group inline-flex py-5 px-8 items-center justify-center leading-none font-medium text-black hover:text-white border border-black rounded-full hover:bg-black transition duration-200"
              href="#"
            >
              <span class="mr-2">Get consulation</span>
              <span
                class="group-hover:rotate-45 transform transition duration-100"
              >
                <svg
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 1L1 9"
                    stroke="currentColor"
                    stroke-width="1.3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M9 8.33571V1H1.66429"
                    stroke="currentColor"
                    stroke-width="1.3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
